* {
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    height: 100vh;
}
#main {
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background: #151E33;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #fff;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}
.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 18px;
    background: #fff;
    border: none;
    color: #000;  
}
button {
    padding: 10px 18px;
    font-size: 15px;
    background: #0d14d3;
    width: 100%;
    color: #fff;
}
p{
    color: #fff;
}