@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;	
}
.header{
	min-height: 100vh; 
	width: 100%;
	background-image: url(../images/Capture.JPG);
	background-position: center;
	background-size: cover;
    z-index: 1000;
}
.header .logo{
    font-size: 20px;
    font-weight: bolder;
    color: skyblue; 
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center; 
}
nav img{
	width: 150px
}
.nav-links{
     flex: 1;
     text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px; 
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.text-box .left img{
     height: 350px;
    width: 400px;
    object-fit: cover;
    margin-left: 60px;
    margin-top: 18px;
}
.text-box .right{
    width: 50%;
    font-size: 10px;
}
.text-box .right h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.text-box .right p{
    text-align: justify;
    color: #fff;
    font-size: 15px;
    margin: 10px 0 10px;
}
.text-box .right span{
    color: #f44336;
}
.menu{
    display: none;
}
.btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #000;
	padding: 8px 20px;
	font-size: 13px;
	background: #f44336;
	position: relative;
	cursor: pointer;
}
.btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
nav .fa{
	display: none;
}
.about, .skills, .project, .blog, .contact{
    
    font-family: 'Poppins',sans-serif;

}
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 12px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I am?";
}
.about .about-content
/* .service .service-content,
.skills .skills-content,
.contact .contact-content*/{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content  .left{
width: 40%;
}
.about .about-content  .left img{
    height: 400px;
    width: 200px;
    object-fit: cover;
}
.about .about-content  .right{
    width: 60%;
}
.about .about-content  .right .text{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
}
.about .about-content  .right p{
    text-align: justify;
}
/* .about .about-content  .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
} 
.about .about-content  .right a:hover{
   color: crimson;
   background: none; 
}*/





















@media (max-width: 768px){
    .header{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header .logo{
        font-size: 20px;
        font-weight: bolder;
        color: skyblue; 
        padding-top: 10px;
    }
    .menu{
        color: #fff;
        display: block;
    }
    .header .nav-links{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 480px;
        border-radius: 8px;
        background: #fff;
    }
    .header .nav-links.active{
        right: 32px;
        transition: .4s linear;
    }
    .header .nav-links a{
        font-size: 32px;
        margin: 32px 48px;
        display: block;
    }
    .text-box .left img{
       height: 300px;
       width: 300px;
       object-fit: cover;
       margin-left: 30px;
       margin-top: 30px;
       margin-bottom: 25px;
   }


    .text-box .right{
      width: 90%;
      font-size: 10px;
      margin-left: 30px;
      margin-top: 20px;
}
    .text-box .right h4{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #fff;
}

    .text-box .right p{
      color: #fff;
      font-weight: 500;
      font-size: 10px;
}
}